*{
    margin: 0;
    padding: 0;
}

body{
    height: 60vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black ;
}

.container{
    margin: 100px;
    display: inline-block;
}

.display{
    border-radius: 1%;
    align-items: center;
    justify-content: center;
}

.container > .display > p{
    color: white;
    font-size: 60px;
    font-family: Cocogoose Pro;
    color: #006D77;
}

.display > input[type="display"]{
    border: none;
    padding: 25px 0px;
    text-align: center;
    font-size: 92px;
    font-family: "JetBrains Mono";
    color: white;
    background-color: black;
}

.datebox{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.datebox > input[type="display"]{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 10px 0px;
    font-family: "JetBrains Mono";
    color: white;
    background-color: black;
}

.greetingbox > input[type="display"]{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 10px 0px;
    font-family: "JetBrains Mono";
    color: white;
    background-color: black;
}
